<h3>Stats Page</h3>

<table class="mdl-data-table mdl-shadow--2dp full-width">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric full-width">Player</th>
      <th>GOALS</th>
      <th>ASSISTS</th>
      <th>POINTS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="#stat of stats | async">
      <td class="mdl-data-table__cell--non-numeric full-width">{{stat.name}}</td>
      <td>{{stat.goals}}</td>
      <td>{{stat.assists}}</td>
      <td>{{stat.points}}</td>
    </tr>
  </tbody>
</table>
