<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <a class="md-title-icon" href="http://pluralsight.com" target="_blank"><i></i></a>
      <span class="mdl-layout-title">Hockey Leagues</span>   
    </div>
    <div class="mdl-navigation">
      <a *ngFor="#item of leagues"  class="nav-link" href="">{{item.name}}</a>
    </div>
  </header>
  <main class="mdl-layout__content">
    <section>
      <div class="page-content">        
        
      </div>
    </section>
  </main>
</div>