<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
      <span class="android-title mdl-layout-title">
        <a [routerLink]="['Main']" href="">
          <img src="/logo.png" class="android-logo-image" style="height:50px;"/>
        </a>
      </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="android-header-spacer mdl-layout-spacer"></div>

      <!-- Navigation -->
      <div class="android-navigation-container">
        <nav class="android-navigation mdl-navigation">
          <a *ngFor="#league of leagues" [routerLink]="['League', {id: league.id}]" class="mdl-navigation__link mdl-typography--text-uppercase" href="">{{league.name}}</a>
        </nav>
      </div>
      <span class="android-mobile-title mdl-layout-title">
        <img class="android-logo-image" src="/logo.png" style="height:50px;"/>
      </span>

    </div>
  </div>

  <div class="android-drawer mdl-layout__drawer">
    <span class="mdl-layout-title">
      <img src="/logo.png" style="height:50px;" class="android-logo-image"/>
    </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Leagues</a>
      <a class="mdl-navigation__link" href="">Hockey</a>
    </nav>
  </div>

  <div class="android-content mdl-layout__content">
    <a name="top"></a>

    <section class="section--center mdl-grid mdl-grid--no-spacing body-background">
      <div class="hockey-content-body mdl-cell mdl-cell--12-col">
        <router-outlet></router-outlet>
      </div>
    </section>

    <footer class="android-footer mdl-mega-footer"></footer>
  </div>
</div>
