<h3>Standings Page</h3>

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th mdl-data-table__cell--non-numeric>Team</th>
      <th>W</th>
      <th>L</th>
      <th>T</th>
      <th>P</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="#standing of standings | async">
      <td mdl-data-table__cell--non-numeric>{{standing.name}}</td>
      <td>{{standing.wins}}</td>
      <td>{{standing.loss}}</td>
      <td>{{standing.otl}}</td>
      <td>{{standing.points}}</td>
    </tr>
  </tbody>
</table>
