<h3>Standings Page</h3>

<table class="mdl-data-table mdl-shadow--2dp full-width">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric full-width">TEAM</th>
      <th>WINS</th>
      <th>LOSS</th>
      <th>OTL</th>
      <th>POINTS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="#standing of standings | async">
      <td class="mdl-data-table__cell--non-numeric full-width">{{standing.name}}</td>
      <td>{{standing.wins}}</td>
      <td>{{standing.loss}}</td>
      <td>{{standing.otl}}</td>
      <td>{{standing.points}}</td>
    </tr>
  </tbody>
</table>
